@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:700&display=swap');

body {
    font-family: 'Red Hat Text', sans-serif !important;
}

.cs-w {
    width: 1000px !important;
}

/*Background*/
.cs-bg-image {
    background: url('../images/pattern-hills.svg') no-repeat bottom center / 100%,
                url('../images/bg-stars.svg') no-repeat center center / 100%,
                linear-gradient(180deg, rgba(25,26,36,1) 0%, rgba(30,31,41,1) 100%);

}

.cs-bg-number {
    position: relative;
    z-index: 3;
}

.cs-bg-number::before {
    position: absolute;
    content: '';
    height: 49.5% !important;
    background-color: hsl(237, 21%, 23%) !important;
    left: 20%;
    right: 20%;
    top: 0;
    z-index: -1;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);
    -webkit-box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);
    -moz-box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);

    /*-webkit-mask-image: radial-gradient(circle at left bottom, transparent 0, transparent 10px, black 11px);*/
}

.cs-bg-number::after {
    position: absolute;
    content: '';
    height: 49.5% !important;
    background-color: hsl(236, 21%, 26%) !important;
    left: 20%;
    right: 20%;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);
    -webkit-box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);
    -moz-box-shadow: 1px 4px 0px 5px rgba(25,26,36,0.75);
}

/*Font*/
.cs-ls {
    letter-spacing: 5px !important;
}

.cs-fc-red {
    color: hsla(345, 95%, 68%, 0.75) !important;
}

.cs-fc-blue {
    color: hsl(237, 18%, 59%) !important;
}

/*Buttons*/
.cs-btn {
    color: hsl(237, 18%, 59%) !important;
    transition: .5s !important;
}

.cs-btn:hover {
    color: hsl(345, 95%, 68%) !important;
}

@media (max-width: 991px) {
    .cs-w {
        width: 100% !important;
    }

    .cs-bg-number::before, .cs-bg-number::after {
        left: 5%;
        right: 5%;
    }
}